<footer class="main-footer">


        <div class="pull-right">


           <strong>Email: </strong> <a href="mailto:bilgisistemi@halter.gov.tr"> bilgisistemi@halter.gov.tr</a>
            <strong>Tel</strong>:<a href="tel:+90 312 4334330"> +90 312 4334330 <br></a>



        </div>



         <div class="text-left">
             <strong>Copyright © 2019 <a target="new_blank" href="https://www.kobiltek.com">KOBILTEK Informatics &amp;
                 Technology</a></strong> All rights reserved.
         </div>


    </footer>
