<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 525px;">
    <section class="sidebar" style="overflow: hidden; width: auto; height: 525px;">


      <ul class="sidebar-menu tree" data-widget="tree">


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-home"></i>
            <span>Anasayfa</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/anasayfa/admin/"><i class=" "></i> Anasayfa Admin</a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-universal-access"></i>
            <span>Sporcular</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/sporcu/sporcular/"><i class=" "></i> Sporcu Listesi</a>
            </li>


            <li>
              <a href="/sbs/sporcu/sporcu-lisans-listesi/"><i class=" None"></i> Lisans Listesi</a>
            </li>


            <li>
              <a href="/sbs/sporcu/sporcuLisansDuzenleMobil/"><i class=" None"></i> Lisans Kontrol</a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-gavel"></i>
            <span>Hakemler</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/hakem/hakemler/"><i class=" "></i> Hakem Listesi</a>
            </li>


            <li>
              <a href="/sbs/hakem/seviye/"><i class=" "></i> Seviye Tanımları</a>
            </li>


            <li>
              <a href="/sbs/hakem/visa-Seminar"><i class=" None"></i> Hakem Vize Semineri </a>
            </li>


            <li>
              <a href="/sbs/hakem/Kademe-listesi/"><i class=" None"></i> Hakem Kademe Listesi</a>
            </li>


            <li>
              <a href="/sbs/hakem/Vize-listesi/"><i class=" None"></i> Hakem Vize Listesi </a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-user"></i>
            <span>Antrenörler</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/antrenor/antrenorler/"><i class=" "></i> Antrenör Listesi</a>
            </li>


            <li>
              <a href="/sbs/antrenor/kademe/"><i class=" "></i> Kademe Tanımları</a>
            </li>


            <li>
              <a href="/sbs/antrenor/Kademe-listesi/"><i class=" None"></i> Antrenör Kademe Listesi</a>
            </li>


            <li>
              <a href="/sbs/antrenor/Vize-listesi/"><i class=" None"></i> Antrenör Vize Listesi </a>
            </li>


            <li>
              <a href="/sbs/antrenor/visa-Seminar"><i class=" None"></i> Antrenör Vize Semineri </a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-flag"></i>
            <span>Kulüpler</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/kulup/kulupler/"><i class=" "></i> Kulüp Listesi</a>
            </li>


            <li>
              <a href="/sbs/kulup/kulup-uyeleri/"><i class=" "></i> Kulüp Üye Listesi</a>
            </li>


            <li>
              <a href="/sbs/kulup/kulup-uye-rolu/"><i class=" "></i> Kulüp Üye Rol Tanımları</a>
            </li>


            <li>
              <a href="/sbs/kulup/kulup-antrenor/"><i class=" None"></i> Kulüp Antrenör Listesi</a>
            </li>


            <li>
              <a href="/sbs/kulup/kulup-raporu/"><i class=" None"></i> Kulüp raporu </a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class="  fa fa-gamepad"></i>
            <span>Müsabakalar </span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/musabaka/musabakalar/"><i class=" None"></i> Müsabaka Listesi </a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-users"></i>
            <span>Federasyon Yönetimi</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/yonetim/kurullar/"><i class=" "></i> Kurul Listesi</a>
            </li>


            <li>
              <a href="/sbs/yonetim/kurul-uyeleri/"><i class=" "></i> Kurul Üye Listesi</a>
            </li>


            <li>
              <a href="/sbs/yonetim/kurul-uye-rolleri/"><i class=" "></i> Kurul Üye Rol Tanımları</a>
            </li>


          </ul>
        </li>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-user-circle"></i>
            <span>Kullanıcı Ayarları</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/kullanici/kullanicilar/"><i class=" "></i> Kullanıcı Listesi</a>
            </li>


            <li>
              <a href="/groups/"><i class=" "></i> Grup İzinleri</a>
            </li>


            <li>
              <a href="/sbs/log/log-kay%C4%B1tlari/"><i class=" None"></i> Log Listesi</a>
            </li>


          </ul>
        </li>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-trophy"></i>
            <span>Faaliyetler</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/faliyet/faliyetler/"><i class=" None"></i> Faaliyet Listesi </a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <li class="treeview ">
          <a href="#">
            <i class=" fa  fa-graduation-cap"></i>
            <span>Başvuru Listesi</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/kulup/basvuru-listesi/"><i class=" None"></i> Kulüp Başvuru Listesi</a>
            </li>


            <li>
              <a href="/sbs/reference/referee/basvuru"><i class=" None"></i> Hakem Başvurulari</a>
            </li>


            <li>
              <a href="/sbs/reference/coach/basvuru"><i class=" None"></i> Antrenör Başvuru</a>
            </li>


          </ul>
        </li>


        <li class="treeview ">
          <a href="#">
            <i class=" fa fa-question-circle"></i>
            <span>Yardım ve Destek</span>
            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
          </a>


          <ul class="treeview-menu">


            <li>
              <a href="/sbs/yardim"><i class=" None"></i> Yardım ve Destek</a>
            </li>


          </ul>
        </li>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


        <ul class="treeview-menu">


        </ul>


      </ul>


    </section>
    <div class="slimScrollBar"
         style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 525px;"></div>
    <div class="slimScrollRail"
         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
  </div>
  <!-- /.sidebar -->
</aside>
